{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<!-- <div class="row mt-3">
    {% for category in categories %}
        <div class="col text-center">
            <a href="/category/{{category['id']}}" style="text-decoration:none;border:0;outline:none;color:black;">
                <div class="border border-dark rounded-circle mx-auto" style="width:70px;height:70px;"><i class="fas fa-{{category['symbol']}} fa-2x mt-3"></i></div>
                <div><small><b>{{category["name"]}}</b></small></div>
            </a>
        </div>
    {% endfor %}
</div> -->
<div class="row">
    <!-- <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
        <h1 class="gallery-title">{{searchitem}}</h1>
</div>
<div class="row mt-3">
    {% for item in items %}
        <div class="col-md-3 px-1 my-1">
            <div class="card">
                <a href="/singlepage/{{item.Id}}">
                    {% if item.imageurl %}
                        <img class="card-img-top" style="height:300px;width:100%;" src="{{item.imageurl}}" alt="Card image cap">
                    {% else %}
                        <img class="card-img-top" style="height:300px;width:100%;" src="https://www.runawavesport.com/content/images/thumbs/default-image_600.png" alt="Card image cap">
                    {% endif%}
                </a>
                <div class="card-body border-top">
                    <div class="card-text font-weight-bold" style="font-size: 110%;">{{item.Name}}</div>
                    <div class="card-text">{{"${:,}".format(item.Price)}}</div>
                    <div class="card-text text-truncate"><small>{{item.Description}}</small></div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="modal fade" id="register-model" tabindex="-1" role="dialog" aria-labelledby="Register" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form class="form" method="POST" action="/register">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username"><b>Username</b></label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Letters and digits only within 20 characters" onkeypress="return validateUsername(event, this)" required/>
                        <div id="username-feedback" style="display:none;"></div>
                    </div>
                    <div class="form-group">
                        <label for="password"><b>Password</b></label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required/>
                    </div>
                    <div class="form-group">
                        <label for="cpassword"><b>Confirm Password</b></label>
                        <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm Password" required/>
                    </div>
                    <div id="password-feedback" style="display:none;">
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="login-model" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form class="form" method="POST" action="/login">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username-login"><b>Username</b></label>
                        <input type="text" class="form-control" id="username-login" name="username" placeholder="Username" onkeypress="return validateUsername(event, this)" required/>
                        <div id="username-feedback" style="display:none;"></div>
                    </div>
                    <div class="form-group">
                        <label for="password-login"><b>Password</b></label>
                        <input type="password" class="form-control" id="password-login" name="password" placeholder="Password" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function validateUsername(event, element){
        console.log(event)
        if(event.charCode >= 48 && event.charCode <= 57 || (event.charCode >= 65 && event.charCode <=90) || (event.charCode >=97 && event.charCode <=122)){
            return true;
        }
        if($(element).val().length === 20){
            return false;
        }
    }
    $("#username").on("change", function(){
        $.get("/checkusername/" + $("#username").val(), function(x){
                if(!x.status){
                    $("#username").removeClass("is-valid").addClass("is-invalid");
                    $("#username-feedback").html("Username is not available").removeClass("valid-feedback").addClass("invalid-feedback").show();
                }else{
                    $("#username").removeClass("is-invalid")//.addClass("is-valid");
                    $("#username-feedback").hide();
                    //$("#username-feedback").html("Username is available").removeClass("invalid-feedback").addClass("valid-feedback").show();
                }
            })
    });

    $("#cpassword").on("change", function(event){
        let pwd = $("#password").val();
        let cpwd = $(this).val();
        if(pwd !== cpwd){
            $("#cpassword").addClass("is-invalid");
            $("#password-feedback").removeClass("valid-feedback").addClass("invalid-feedback").html("Passwords are not same").show();
        }
        if(pwd === cpwd){
            $("#cpassword").removeClass("is-invalid").addClass("is-valid");
            $("#password-feedback").removeClass("invalid-feedback").addClass("valid-feedback").html("Good to go").show();
        }
    })
    $('form').submit(function() {
        let pwd = $("#password").val();
        let cpwd = $("#cpassword").val();
        if(pwd !== cpwd){
            $("#cpassword").addClass("is-invalid");
            $("#password-feedback").removeClass("valid-feedback").addClass("invalid-feedback").html("Passwords are not same").show();
            return false;
        }
        return true;
    });
</script>
{% endblock %}