{% extends "layout.html" %}
{% block head %}
<style>
body{ background: #fafafa;}
.widget-area.blank {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}
body .no-padding {
padding: 0;
}
.widget-area {
background-color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
float: left;
margin-top: 30px;
padding: 25px 30px;
position: relative;
width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
}
.status-upload form {
float: left;
width: 100%;
}
.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}
</style>
{% endblock %}
{% block content %}
<div class="row mt-3">
    <ul class="list-inline">

    </ul>
</div>
<div class="row mt-3">
        <div class="col-2">
                {% for img in images%}
                <div onclick="switchCarouselImage({{loop.index-1}})">
                    <a href = "#" class = "thumbnail">
                        <img src = "{{img.imageurl | resize('w_200,h_300,c_pad')}}" alt = "Generic placeholder thumbnail" style="width: auto; height: 100px; padding-right: 5px">
                    </a>
                </div>
                {% endfor %}
        </div> 
        <div class="col-4">
            <div class="row">
                <div class="container">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for img in images%}
                                {% if loop.index == 1 %}
                                    <div class="carousel-item active">
                                {% else %}
                                    <div class="carousel-item">
                                {% endif %}
                                    <img class="d-block w-100" src="{{img.imageurl | resize('w_350,h_525,c_pad')}}" alt="First slide">
                                </div>
                            {% endfor %}
                        </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col">
                    <div class="panel-heading"><h2>{{item.Name}}</h2></div>
                    <form action="/like/{{ item.Id }}" method="POST" style="cursor: pointer;">
                        <span onclick="$(this).parent().submit()">
                            <i class="fas fa-heart text-danger"></i> <span>{{likes.Total}}</span>
                        </span>
                    </form>

                    <div>
                        <div class="row mt-2">
                            <div class="col-3"><b>Description: </b></div>
                            <div class="col">{{item.Description}}</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3"><b>Category: </b></div>
                            <div class="col">{{item.Category}}</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3"><b>Price: </b></div>
                            <div class="col">${{item.Price}}</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3"><b>Location: </b></div>
                            <div class="col">{{item.Location}}</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3"><b>Method: </b></div>
                            <div class="col">{{item.TradeMethod}}</div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <ul class="list-inline">
                            <li class="list-inline-item"><button type="button" class="btn btn-success btn-lg">make offer</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div>  
<div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="widget-area no-padding blank">
            <div class="status-upload">
                <form>
                    <textarea placeholder="Leave your comment here" ></textarea>
                    <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Post</button>
                </form>
            </div><!-- Status Upload  -->
        </div><!-- Widget Area -->
    </div>
</div>
<div class="row mt-3">
    
</div>
{% endblock%}
{% block script %}
<script>
    function  switchCarouselImage(index){
        $(".carousel").carousel(index);
    }
</script>

{% endblock %}
